body {
	margin: 50px 5%;
	color: #555;
	font-size: 15px;
	font-family: monospace;
}

.container {
	position: relative;
}

.lines {
	position: absolute;
	top: 0;
	left: 0;
}

.nodes.level-root {
	position: absolute;
	top: 0;
	left: 50%;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 0 10px rgba(255,255,255,0.9);
}

textarea {
	width: 100%;
	padding: 0 0 0 20px;
	font: inherit;
	color: inherit;

	/* disable wrapping */
	white-space: pre;
	word-wrap: normal;
	overflow-x: hidden;

	/* hide artifacts */
	border: none;
	outline: none;
	resize: none;
}

.help {
	position: absolute;
	width: 620px;
	height: 410px;
	padding-top: 20px;
	top: -430px;
	right: 300px;
	z-index: 1;
	transition: top 200ms;
}

.help:hover {
	top: 0;
}

.help .container {
  height: 100%;
  box-sizing: border-box;
  overflow: scroll;
	padding: 30px;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: whitesmoke;
}

.help .handle {
	position: absolute;
	right: 10px;
	bottom: -30px;
	line-height: 50px;
}

.help .handle span {
	line-height: normal;
	vertical-align: bottom;
	color: red;
}
